* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 210px;
    height: 100%;
    background: #485167;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a {
    color: white;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #6fbe75;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
    text-decoration: none;
    cursor: default;
}

#close {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 10px;
    cursor: default;
}

.wrapper .main-content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main-content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main-content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.icons {
    height: 25px;
    width: 25px;
}

.logo {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #6fbe75;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #6fbe75;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.set_des {
    position: absolute;
    left: 80%;
    top: 5%;
    color: #717171;
}

.btn-perf {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    border-radius: 2px;
    border: 2px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    padding: 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn-perf:hover {
    background-color: #f6f6f6;
}
.btn-perf:active {
    position: relative;
    top: 1px;
}
  